// Fontes
$fontePrincipal : 'Roboto', sans-serif;

// Esquema de Cores
$gradienteCabecalho : #78aeb5;
$gradienteCabecalhoStart :#f7fcf0, #e5f5df, #d4eece, #bde5bf, #9fd9bb, #7bcbc4, #58b7cd, #399cc6, #1e7eb7, #0b60a1, #0b60a1;
$corDoFundo : #252525;
$corDoTexto : #fff;
$corBtn : #399cc6;
$corBtnSecundaria : #9fd9bb;

// Breakpoints
$mobile : 767px;
$tablet : 1023px;