* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

body {
    color: black;
}

header {
    text-align: center;
    padding: 32px;
    background-color: #54657c;
}

form {
    text-align: center;
    padding-top: 12px;
}

input {
    background-color: #fff;
    border: 2px solid #BDBDBD;
    border-radius: 8px;
}

input:focus {
    border: 2px solid #494a4d;
    outline: none;
    
}

button {
    background-color: black;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    margin-left: 12px;
}

button:hover {
    background-color: #4077d6;
}

input, button {
    padding: 10px;
    font-size: 16px;
}
#lista {
    display: grid;
    justify-content: center;
    cursor: pointer;
    color: black;
}

#lista li {
    font-weight: 500;
    padding-top: 16px;
}

.item-concluido {
    text-decoration: line-through;
}